@font-face {
  font-family: 'TextRegular';
  src: url('../fonts/SFUIText-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SFUIText-Regular.woff') format('woff'),
  url('../fonts/SFUIText-Regular.ttf')  format('truetype'),
  url('../fonts/SFUIText-Regular.svg#SFUIText-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}